@model TrashCollector.Models.Customer


@{
    ViewData["Title"] = "Customer Homepage";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Customer Home Page</h1>

<div>
    <h4>Account Information.</h4>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.StreetAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.StreetAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.StartDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.StartDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.PickupDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.PickupDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.OneTimePickup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.OneTimePickup)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Balance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Balance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.AccountStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.AccountStatus)
        </dd>

    </dl>
    <h4>Manage Account.</h4>

    <dl class="table">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)

        </dt>



    </dl>


</div>




